<header class="pet-center-header mat-elevation-z3">
    <div class="header-content">
      <div class="logo-container">
        <!-- Replace 'logo.png' with the path to your pet center logo -->
        <img src="assets/logo.png" alt="Pet Center Logo">
      </div>
      <div class="menu-container">
        <!-- Add your menu items here (e.g., navigation links) -->
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/pets/dashboard">Dashboard</a>
        <a mat-button routerLink="/auth/login">Login</a>
        <a mat-button routerLink="/auth/register">Register</a>
        <a mat-button routerLink="/auth/logout">Logout</a>
        <a mat-button routerLink="/pets/new-announcement">Add Pet</a>
        <a mat-button routerLink="/pets/my-announcements">My Offers</a>
        <a mat-button routerLink="/pets/my-favorites">My Favorites</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
    </div>
  </header>
  
