.pet-center-header {
    background-color: #03a9f4; 
    color: #fff; 
    height: 80px; 
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    height: 100%; 
  }
  
  .logo-container img {
    height: 78px;
    width: auto; 
  }
  
  .menu-container a {
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    padding: 8px 16px; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
    cursor: pointer; 
  }
  
  .menu-container a:hover {
    background-color: #0288d1;
    color: #fff;
  }

  .logo {
    width: 0px;
    height: auto;
  }
  .logo img:hover{
    cursor: pointer;
    
  }

  .error-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000; 
    color: #fff; 
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-size: 21px;
    
  }

  
  .success-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #07b480; 
    color: #fff; 
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-size: 21px;
    
  }

  .welcome {
    font-weight: bold;
    font-size: 18px;
  }

  .active-link {
    cursor: pointer;
    text-decoration: underline;
  }