.app-footer {
    background-color: #03a9f4; /* Change the background color as per your design */
    color: #fff; /* Change the text color to white or as per your design */
   
        position: fixed; /* Фиксирано позициониране на футъра */
        bottom: 0; /* Поставете футъра в долния край на страницата */
        left: 0;
        width: 100%; /* Задайте ширина на футъра да бъде същата като на viewport */
        
        padding: 5px; /* Добавете желано вътрешно отстояние на футъра */
        z-index: 1;
        border: none;
        margin-bottom: 0px;
        flex-shrink: 0;
        
      
   
    
 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the content horizontally */
    align-content: center;
    padding-top: 10px;
  }
  
  