<footer class="app-footer">
    <div class="footer-content">
      <div class="footer-left">
        <div class="social-icons">
          <a href="https://www.instagram.com/your_pet_center" target="_blank">
            <span class="material-icons">instagram</span>
          </a>
          <a href="https://www.facebook.com/yourpetcenter" target="_blank">
            <span class="material-icons">facebook</span>
          </a>
        </div>
      </div>
      <div class="footer-right">
        <p>&copy; 2023 Your Pet Center. All rights reserved.</p>
        <p>Contact: info@yourpetcenter.com</p>
      </div>
    </div>
  </footer>
  
  
  
