<ng-container *ngIf="!pets">

  <app-paws-loader></app-paws-loader>
</ng-container>


<ng-container *ngIf="pets">

  <div class="card-container" >
  
      <div class="card" *ngFor="let pet of pets.favorites">
        <div class="image-container">
          <img src={{pet.image}}>
          <div class="overlay">
            <a routerLink="/pets/{{pet._id}}">View Details</a>
          </div>
        </div>
        <div class="card-info">
          <h3></h3>
          <p>Breed:  <span class="variable">{{pet.breed}}</span></p>
          <p>Name:  <span class="variable">{{pet.name}}</span></p>
          <p>Location:  <span class="variable">{{pet.location}}</span></p>
        </div>
      </div>
      
    </div>
  </ng-container>


