<ng-container>

    <app-paws-loader></app-paws-loader>
  </ng-container>


  <ng-container >

    <div class="card-container" >
    
        <div class="card" >
          <div class="image-container">
            <img src=>
            <div class="overlay">
              <a routerLink="/pets/petID">View Details</a>
            </div>
          </div>
          <div class="card-info">
            <h3></h3>
            <p>Breed:  <span class="variable"></span></p>
            <p>Name:  <span class="variable"></span></p>
            <p>Location:  <span class="variable"></span></p>
          </div>
        </div>
        
      </div>
    </ng-container>



