
  
  .calculate-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
    background-color: #03a9f4;
    color: white;
  }
  
  .calculate-button:hover {
    background-color: #0288d1;
  }
  
  .distance-result {
    text-align: left;
    font-size: 18px;
    color: #0288d1;
  }
  
  .distance-result span {
    font-weight: bold;
  }
  