.filter-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 8px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Fixed aspect ratio of 1:1 (square) */
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image fit entirely within the container while preserving aspect ratio */
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #03a9f4;
  transition: background-color 0.3s;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .overlay a {
  background-color: #0288d1;
}

.card-info {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.card-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin: 0;
}

.card-info p {
  font-size: 16px;
  margin: 5px 0;
}

.dog {
  background-color: #01579b;
}

.cat {
  background-color: #0288d1;
}

.card-info .variable {
  color: #01579b; /* or any color you prefer */
}


  .dog {
    background-color: #01579b;
  }
  .cat {
    background-color: #0288d1;
  }
  

  .card-info .variable {
    color: #01579b; /* or any color you prefer */
  }