<div class="container">
    <form class="register-form">
      <h2>Register</h2>
      <div class="input-container">
        <i class="material-icons">person</i>
        <input type="text" placeholder="Username" required>
      </div>
      <div class="input-container">
        <i class="material-icons">mail</i>
        <input type="email" placeholder="Email" required>
      </div>
      <div class="input-container">
        <i class="material-icons">lock</i>
        <input type="password" placeholder="Password" required>
      </div>
      <div class="input-container">
        <i class="material-icons">lock</i>
        <input type="password" placeholder="Confirm Password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
  
